
.page-header
  %h2 What We Do?
.jumbotron
  %h4.content
    :markdown
      **We revolutionize the way almonds are traded:
      Get the best price..
      Minimize the risk..**

      <sub>AlmondYard is the easiest and safest place to buy or sell almonds on the global wholesale market. We eliminate all the "middlemen" so the buyers get the lowest price possible and sellers get the highest price possible. Our parented "SafeTransact" technology analyzes historical price data, current supply/demand data, past and current economic markets, and global climate data along with buyer profile data to better price the risk for your buy/sell transactions. This will not only ensure that you will get the best price possible but also makes your transaction risk free. With AlmondYard, you will never again wonder whether you are getting the best price for your shipment, or whether you will get paid in the end.</sub>


.row
  .col-xs-4
    %button.btn.btn-default.center-block= link_to 'Looking to Buy Almonds?', '#'
  .col-xs-4
    %button.btn.btn-default.center-block= link_to 'Looking to Sell Almonds?', '#'
  .col-xs-4
    %button.btn.btn-default.center-block
      = link_to 'Looking to Insure a Transaction?', '#'
